<h1>
  Welcome to {{ titlePage }}!
</h1>

<!-- <h2> City List </h2> 
<pre>{{ list | json }}</pre>-->

<!--  <h2> City Show </h2> 
<pre>{{ show | json }}</pre> -->

<!-- <h2> Create </h2>
<pre>{{ create | json }}</pre> -->
<h2>Muestra el mapa</h2>
<select type="number" [(ngModel)]="levelNum" (ngModelChange)="toNumber();">
  <option *ngFor="let city of list" [ngValue]="[city.lat, city.long]" >{{city.title}}</option>
</select>

<agm-map [latitude]="levelNum[0]" [longitude]="levelNum[1]">
  <agm-marker [latitude]="levelNum[0]" [longitude]="levelNum[1]"></agm-marker> 
</agm-map>

<h2>Consultar</h2>
<table>
  <tr *ngFor="let city of list">
    <td>
      <tr>
        <td>          
          <button (click)="deleteById(city.id)">Eliminar</button><strong> {{city.title}}</strong>
        </td>
         <td><img src="{{city.image_url}}" alt="{{city.title}}" style="width: 40%;" /></td>
          <td>{{city.content}}</td>
      </tr>
    </td>    
  </tr>
</table>

<h2>Crear nuevo</h2>
<form>
  <div>title: <input type="text" name="title" [value]="title" (input)="title = $event.target.value"></div>
  <div>content: <input type="text" name="content" [value]="content" (input)="content = $event.target.value"></div>
  <div>lat: <input type="text" name="lat" [value]="lat" (input)="lat = $event.target.value"></div>
  <div>long: <input type="text" name="long" [value]="long" (input)="long = $event.target.value"></div>
  <div>image_url: <input type="text" name="image_url" [value]="image_url" (input)="image_url = $event.target.value"></div>
  <div> <button (click)="createItem()">Enviar</button></div>
</form>



<!-- <p>AIzaSyAvJsz8f8QtmQ5mNoxh0KZe2C0Rv4u2-3w</p> -->


<router-outlet></router-outlet>